body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../img/bg.png);
}





/**
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
*/
/*// X - Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    img#default{width: 250px;}
    h2.title{margin-bottom: .83rem;}
 }

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    img#default{width: 250px;}
    h2.title{margin-bottom: .83rem;}
 }

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    img#default{width: 275px;}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    img#default{width: 350px;}
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}
