.title {
    margin: 0 0 1.5rem 0;
    font-weight: 400;
}

.subtitle {
    font-weight: 300;
    margin: .5rem 0 2.5rem 0;
}


.wrapper {
    display: flex;
    flex-flow: wrap;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;align-items: center;
    justify-content: center;
}

.wrapper .bg {
    display: none;
    height: 100vh;
    width: 50%;
    background: rebeccapurple;
}





@media (min-width: 900px) {
    .content{
        width: 50%;
        padding: 0 2rem ;
    }
    .wrapper .bg{
        display: block;
    }

}













/*:root {}

.title{
    font-size: 4rem;
}
.title,
.subtitle{font-weight: 300;margin: 1rem 0;text-align: center;}
nav>span>icon {cursor: pointer;}
nav>a{text-decoration: none;}









/*


















#u-1 {
    background-image: url(../img/usgs-An18-liwqIw-unsplash.jpg) !important;
}

#u-2 {}

#u-3 {}

#u-4 {}

a>article {
    text-decoration: none;
}*/